name: "Deploy"

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        options:
          - "staging"
          - "production"
        default: "staging"
        description: Environment to which the deployment is done.
      app-version:
        type: string
        default: latest
        description: Version tag of app to deploy.

jobs:
  deploy:
    uses: derBobby/java-pipelines/.github/workflows/callable-deploy.yml@v4.0.1
    with:
      app: p2signal-notification
      environment: ${{ inputs.environment || 'staging' }}
      app-version: ${{ inputs.app-version || 'latest' }}
    secrets:
      DEPLOYMENT_USER: ${{ secrets.DEPLOYMENT_USER }}
      DEPLOYMENT_HOST: ${{ secrets.DEPLOYMENT_HOST }}
      DEPLOYMENT_PORT: ${{ secrets.DEPLOYMENT_PORT }}
      DEPLOYMENT_SSH_KEY: ${{ secrets.DEPLOYMENT_SSH_KEY }}
